@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4E6FAA;
  font-family: 'Indie Flower', cursive;
}



/*Animação de escrita .text*/
h1 {
  text-align: center;
  width: 55vw;
  height: 40px;
  border-right: 2px solid;
  overflow: hidden;
  animation: typing 2.4s steps(17, end);
  font-size: 25px;
  display: inline-flex;
}

#imagem-dr{
  margin-top: 150px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

/*Botões*/
#btn-irTrabalhar,
#btn-ficarEmCasa{
  height: 50px;
  width: 150px;
  margin-top: 5%;
  margin-right: 90px;
  margin-left: 90px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 2%;
  border: none;
}
#btn-irTrabalhar:hover{
  background-color: rgb(107, 255, 166);
  font-weight: bolder;
}
#btn-ficarEmCasa:hover{
  background-color: rgb(255, 65, 65);
  font-weight: bolder;
}



/*Classes para usar no JS*/
.hidden{
  display: none;
}

/*Barra de progresso*/
#container-barra-progresso{
  margin-top: 35%;
  width: 680px;
  height: 40px;
  text-align: center;
}
.barra-progresso {
  text-align: center;
  width: 100%;
  height: 40px;
  background: rgb(0, 110, 255); 
  border: 1px solid rgba(0, 1, 82, 0.359);
  border-radius: 2%;
}
.carregamento {
  height: 40px;
  width: 0%; 
  background-color: rgb(96, 181, 255); 
  color: #FFF;
  animation: load 5s linear;
}
.carregamento h2 {
  padding-left: 300px;
}
/*Animação barra de progresso*/
@keyframes load {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

/*Paragrafo de motivação*/
#motivacao{
  width: 680px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 20px;
}

/*Foto do dr no laboratório*/
#drTrabalhoPhoto{
  display: flex;
  align-items: center;
  margin-top: -83%;
  margin-left: -20%;
  
}

/*Frase: em cinco DIAS, todas as células...*/
#dias-contados, #dias{
  color: white;
}


/*container onde fica a frase de ficar em casa*/
.ficar-emCasa-container{
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/*ficarEmCasa-frase*/
#ficarEmCasa-frase{
  color: rgb(255, 195, 195);
  height: 40px;
  padding-bottom: 5%;
  letter-spacing: 2px;
  font-size: 25px;
}
#mollyPhoto{
  width: 800px;
  height: 500px;
}
/*Icone jornal*/
#icone-jornal{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 2%;
}
/*Ler jornal*/
#ler-jornal{
  color: white;
  letter-spacing: 2px;
  padding-bottom: 2%;
}
#icone-jornal:hover #ler-jornal{
  color: black;
  font-weight: bold;
}


